import React from 'react'
// import PropTypes from 'prop-types'
{{#if wantHeaders}}
import { Helmet } from 'react-helmet'
{{/if}}
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'
import messages from './messages'
  {{#if wantHeaders}}
import { injectIntl, intlShape } from 'react-intl'
  {{/if}}
{{/if}}
import Styled from './styles'

/**
* {{ properCase name }} Component Description
*/
class {{ properCase name }} extends {{{ type }}} {
  constructor(props) {
    super(props)

    this.state = {

    }
  }

  render() {
    {{#if wantHeadersAndMessages}}
    const { intl } = this.props

    {{/if}}
    return (
      <Styled.Container>
      {{#if wantHeaders}}
        <Helmet>
        {{#if wantHeadersAndMessages}}
          <title>{intl.formatMessage(messages.pageTitle)}</title>
          <meta name={'description'} content={intl.formatMessage(messages.pageDescription)} />
        {{else}}
          <title>{{properCase name}}</title>
          <meta name={'description'} content='Description of {{properCase name}}' />
        {{/if}}
        </Helmet>
      {{/if}}
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{else}}
        This is the {{ properCase name}} {{ lowerCase directory }}!
      {{/if}}
      </Styled.Container>
    )
  }
}

{{ properCase name }}.propTypes = {
{{#if wantHeadersAndMessages}}
  intl: intlShape.isRequired,
{{else}}
  // prop types
{{/if}}
}

export default {{#if wantHeadersAndMessages}}injectIntl({{ properCase name }}){{else}}{{ properCase name }}{{/if}}
