import React from 'react'
// import PropTypes from 'prop-types'

{{#if wantMessages}}
import { FormattedMessage } from 'react-intl'

import messages from './messages'
{{/if}}
import Styled from './styles'

/**
 * {{ properCase name }} Component Description
 */
class {{ properCase name }} extends {{{ type }}} {
  constructor(props) {
    super(props)

    this.state = {

    }
  }

  render() {
    return (
      <Styled.Container>
        <h1>
          {{#if wantMessages}}
          <FormattedMessage {...messages.header} />
          {{else}}
          This is the {{ properCase name}} {{ lowerCase directory }}!
          {{/if}}
        </h1>
      </Styled.Container>
    )
  }
}

{{ properCase name }}.propTypes = {

}

export default {{ properCase name }}
